<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>튜토리얼15</title>
    <style>
       p{
         background-color: cornflowerblue;
         width: 100px;
       }
    </style>
</head>
<body>
    <div id="app-15">
        <h1 v-text="header"></h1>
        <div v-for="message in messages">
            {{ message }}
        </div>
        <hr>
        <t-header></t-header>
        <t-body></t-body>
        <t-body></t-body>
        <t-body></t-body>
        <t-footer></t-footer>
    </div>
    <!-- index.js를 로드 -->
    <script src="index.js"></script>
</body>
</html>